{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block body %}
<section id="intro">
    <div class="carousel-item active">
        <div class="carousel-background"><img src="{% static 'imags/slider/slider1.jpg' %}" alt=""></div>
        <div class="carousel-container">
            <div class="carousel-content">
                <h2 class="font-color-white">{{jop.title}}</h2>
                <p class="font-color-white width-100"><a href="{%url 'jops:index' %}" class="font-color-white">Home /</a><a
                        href="{%url 'jops:jop_list' 1 %}" class="font-color-white"> Job </a>/ Details
                </p>
            </div>
        </div>
    </div>
</section>


<section id="job-Details" style="margin-bottom: 1050px;">
    <div class="container background-color-full-white job-Details">
        <div class="Exclusive-Product">
            <h3>{{jop.title}}</h3>
            <a href="{% url 'jops:jop_apply' jop.id %}" class="Apply-Now">Apply Now</a>
            <h6 class="font-color-orange">{{jop.jop_type}}</h6>
            {% comment %} <a href="#">View more similar jobs</a> {% endcomment %}
            {% comment %} <i class="material-icons">place</i> {% endcomment %}
            <span class="text">Date line: {{jop.published_at|date:'d M o'}}</span>
            <p>Vacancy : {{jop.vacancy}}</p>
            <p>Experienc : {{jop.experienc}} Year</p>
            <p>Salary : {{jop.salary}}K</p>
            <h4>Short description</h4>
            <p>{{jop.description}}</p>
        </div>
          <div style="width: 70%; height: 600px; object-fit: cover; ">
              <img src="/media/{{jop.image}}" style="height: 100%; width: 100%; align-self: center;" alt="" class="job-detail-img">
          </div>
        <div class="Job-Description">
            
            <!-- <div class="vertical-space-20"></div> -->
        </div>
    </div>   
</section>


{% endblock body %}