{% extends 'base.html' %}
{% load bootstrap4 %}

{% load static %}

{% block body %}
<!-- <section id="intro">
  <div class="carousel-item active">
    <div class="carousel-background"><img src="{% static 'imags/slider/slider1.jpg' %}" alt=""></div>
    <div class="carousel-container">
      <div class="carousel-content">
        <h2 class="font-color-white">Find Jobs Now more Easy Way</h2>
        <p class="font-color-white">Lorem ipsum tempus amet conubia adipiscing fermentum viverra gravida, mollis
          suspendisse pretium dictumst inceptos mattis euismod lorem nulla, magna duis nostra sodales luctus nulla
          praesent fermentum a elit mollis purus aenean curabitur eleifend </p>
        <a href="#" data-toggle="modal" data-target="#myModal"><i class=" material-icons play">play_arrow</i></a>
      </div>
    </div>
  </div>
</section> -->

<div class="vertical-space-100"></div>
<!-- <div id="search-box" class="margin-none">
  <div class="container search-box">
    <form action="#" id="search-box_search_form_3"
      class="search-box_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between ">
      <div class="d-flex flex-row align-items-center justify-content-start inline-block">
        <span class="large material-icons search">search</span>
        <input class="search-box_search_input" placeholder="Search Keyword" required="required" type="search">
        <select class="dropdown_item_select search-box_search_input">
          {% for cat in categories %}
            <option>{{cat}}</option>
           {% endfor %}
        </select>
        <span class="large material-icons margin-top search">place</span>
        <input class="search-box_search_input " placeholder="Location" required="required" type="search">
      </div>
      <button type="submit" class="search-box_search_button">Search Jobs</button>
    </form>
  </div>
</div> -->


<section id="resent-job-post" class="background-color-white-drak">
  <div class="vertical-space-85"></div>
  <div class="container text-center">
    <h4 class="text-left">Jops</h4>
    <div class="vertical-space-30"></div>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div id="post_job"  style="text-align:left !important;">
          <h4 class="text-left mb-4">Filter Jobs Result</h4>
          <form method="get" >
            {% csrf_token %}
            {% bootstrap_form filter.form %}
            {% buttons %}
             <button type="submit" class="btn w-100" style="background-color:#f26522 ; color: white;">Filter</button>
            {% endbuttons %}
        </form>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        {% for jop in jops %}
        <div class="detail width-100 ">
          <div class="media display-inline text-align-center">
            <img src="/media/{{jop.image}}" width=200 height="150" alt="John Doe" class="mr-3 ">
            <div class="media-body text-left  text-align-center">
              <h6><a href="{% url 'jops:jop_detail' jop.id %}" class="font-color-black">{{jop}}</a></h6>
              <i class="large material-icons">account_balance</i>
              <span class="text">Jopitar inc.</span>
              <br />
              <i class="large material-icons">place</i>
              <span class="text font-size">11907 Doyle Cape Cydneyview</span>
              <div class="float-right margin-top text-align-center">
                <a href="#" class="part-full-time">{{jop.jop_type}}</a>
                <p class="date-time">Date line: {{jop.published_at|date:'d M o'}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="vertical-space-20"></div>
        <div class="vertical-space-25"></div>
        <div class="job-list width-100">
          <ul class="pagination justify-content-end margin-auto">
             {% if jops.has_previous %}
            <li class="page-item"><a class="page-link pdding-none" href="?page={{jops.previous_page_number}}"><i
                  class=" material-icons keyboard_arrow_left_right">keyboard_arrow_left</i></a>
                </li>
              {% endif %}

              {% for i in jops.paginator.page_range%}
               <li class="page-item"><a class="page-link active" href="?page={{i}}">{{i}}</a></li>
               {% endfor %}

              {% if jops.has_next %}
               <li class="page-item">
                 <a class="page-link pdding-none" href="?page={{jops.next_page_number}}"> <i
                  class=" material-icons keyboard_arrow_left_right">keyboard_arrow_right</i></a>
                </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-space-60"></div>
</section>
{% endblock body %}