{% extends 'base.html' %}
{% load bootstrap4 %}

{% load static %}

{% block body %}
<section id="post_job">
    <div class="vertical-space-100"></div>
    <div class="vertical-space-101"></div>
    <div class="container">
    <div class="list-box">
    <a href="{% url 'jops:jop_detail' id %}" class="font-color-black margin-right">Job </a> > <a href="#" class="font-color-orange margin-left"> Apply</a>
    </div>
    {% comment %} <a href="#" class="Save">Save</a> {% endcomment %}
    <div class="vertical-space-60"></div>
    <div class="job-post-box">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn Post-Job-Offer">Apply Now</button>
        {% endbuttons %}
    </form>
    </div>
    </div>
    </section>


    {% endblock %}